body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Degradado oscuro superpuesto sobre la imagen de fondo */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('src/assets/image/contaminacion-del-agua-1920x1180.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tittle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; /* Ajusta el tamaño de la fuente */
    color: white; /* Ajusta el color del texto */
    z-index: 1; /* Asegura que esté sobre el canvas */
  }

/* Contenedor principal de login */
.container-login {
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animación de hover en el contenedor */
.container-login:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Texto de bienvenida */
.welcome-text {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 1rem;
    font-weight: 600;
}

.button-logout {
    position: absolute;
    top: 10px;
    /* Distancia desde la parte superior de la pantalla */
    right: 10px;
    /* Distancia desde la derecha de la pantalla */
    padding: 10px 20px;
    background-color: #e74c3c;
    /* Color de fondo del botón */
    color: white;
    /* Color del texto */
    border: none;
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    font-size: 16px;
    z-index: 100;
    /* Asegura que el botón esté encima de otros elementos */
}

.button-logout:hover {
    background-color: #c0392b;
}

/* Texto de carga */
.loading-text {
    font-size: 1rem;
    color: #95a5a6;
    margin-top: 0.5rem;
    font-style: italic;
}


.button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}