@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.card {
    background: white;
    font-family: "Montserrat", sans-serif;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 100%; /* Cambiar a ancho del 100% */
    max-width: 300px; /* Ancho máximo para tarjetas */
    height: 400px; /* Altura fija para todas las tarjetas */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 11px;
    flex-grow: 1; /* Permite que el contenido crezca para llenar el espacio disponible */
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.card p {
    font-size: 0.92rem;
    color: #666;
    text-align: left; /* Alinea el texto a la izquierda */
}

.card-button-container {
    display: flex;
    justify-content: center; /* Alinea el botón a la derecha */
    padding: 10px;
}

.card-button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.card-button:hover {
    background-color: var(--color-senary);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .card {
        height: auto; /* Ajusta la altura de la tarjeta */
        margin: 10px; /* Espacio entre tarjetas en pantallas más pequeñas */
    }

    .card h2 {
        font-size: 1.1rem; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
    }

    .card p {
        font-size: 0.9rem; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
    }

    .card-button {
        padding: 8px 16px; /* Ajusta el tamaño del botón */
    }
}

@media (max-width: 480px) {
    .card {
        margin: 5px; /* Espacio entre tarjetas en pantallas pequeñas */
    }

    .card h2 {
        font-size: 1rem; /* Reduce aún más el tamaño de la fuente */
    }

    .card p {
        font-size: 0.8rem; /* Reduce aún más el tamaño de la fuente */
    }
}
