.home-container {
    text-align: center;
    font-family: 'Monsetrrat', sans-serif;
    /* Puedes cambiar la fuente a otra que prefieras */
}

/* Cards Section */
.cards-section {
    display: flex;
    flex-wrap: wrap;
    /* Permite que las tarjetas se dispongan en múltiples líneas */
    justify-content: center;
    /* Centra las tarjetas en la sección */
    gap: 1rem;
    /* Espacio entre tarjetas */
    padding: 2rem;
}
